body {
    background-color: #444444;
}

.title {
    width: 30%;
    margin: auto;
    color: #CCCCCC;
    border-radius: .5em;
    text-align: center;
    background-color: #222222;
    letter-spacing: 1px;
}

h2.padding {
    padding: .5em;
}

.colorpicker {
    padding: .5em;
    text-align: center;
    font-size: 12px;
    border: 2px solid grey;
}


/* Canvas Centering */
canvas {
    display: block;
    margin: auto;
    background-color: #000000;
}

#canvasContainer {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
 }

 
div.center {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: .5em;
    background-color: #222222;
}


div.textbox {
    padding: .5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* Slider  positions and style*/
div.variables {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: .5em;
    background-color: #888888;
}

div.slidecontainer {
    padding: .5em;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* appearance: none; */
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
